# /etc/default/grub.d/grub.conf
# Based on https://cyber.gouv.fr/sites/default/files/document/fr_np_linux_configuration-v2.0.pdf

GRUB_CMDLINE_LINUX_DEFAULT="quiet audit=1 l1tf=full,force iommu=force page_poison=on pti=on slab_nomerge=yes slub_debug=FZP spec_store_bypass_disable=seccomp spectre_v2=on mds=full,nosmt mce=0 page_alloc.shuffle=1 rng_core.default_quality=500 security=yama"
